.maindiv{
	background-color:#eeeeee;
}
.entwdiv{
	border:3px solid #303030;
	background-color:#303030;
	color:#eeeeee;
	height:300px;
}
.vorschau{
	float:left;
	background-color:#303030;
	width:180px;
	height:180px;
	margin-left:5%;
	margin-right:50px;
	margin-top:20px;
}
.nentw{
	margin-top:10px;
	border:none;
	cursor:pointer;
	display:block;
	background-color:#57bea4;
	color:#eeeeee;
	border-radius:7px;
	font-size:40px;
	width: 30%;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:5px;
}
.nentw:hover{
	background-color:#eeeeee;
	color:#57bea4;
	border:2px solid #57bea4;
}