/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
	background-color:#eeeeee;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* Code*/
a{
	text-decoration:none;
}
body{
	background-color:#eeeeee;
}
/*
header nav {
	width: 100%;
	height: 60px;
	background-color: #303030;
}
header nav ul{
	float:left;
}
header nav ul li{
	float:left;
	list-style:none;
}
header nav ul li a{
	font-family:arial;
	font-size: 16px;
	color:#eeeeee;
	line-height:63px;
}
header .nav-login {
	float:right;
}
header .nav-login form{
	float:left;
	padding-top:15px;
}
header .nav-login form input{
	float:left;
	width:140px;
	height:30px;
	padding:0px 10px;
	margin-right:10px;
	border: none;
	background-color:#eeeeee;
	font-family:arial;
	color:#303030;
	font-size: 14px;
	line-height: 30px;
}
header .nav-login form input:focus{
	float:left;
	width:140px;
	height:30px;
	padding:0px 10px;
	margin-right:10px;
	border: 2px solid #57bea4;
	background-color:#eeeeee;
	font-family:arial;
	color:#303030;
	font-size: 14px;
	line-height: 30px;
}
header .nav-login form button{
	border-radius:8px;
	float:left;
	width:80px;
	height:30px;
	margin-right:10px;
	border: none;
	background-color:#303030;
	font-family:arial;
	color:#ccc;
	font-size: 14px;
	cursor:pointer;
}
header .nav-login form button:hover{
	color:#fff;
}
header .nav-login a{
	float:left;
	display:block;
	width:60px;
	height:60px;
	border:none;
	background-color:#303030;
	cursor:pointer;
	font-family:arial;
	font-size: 16px;
	color:#ccc;
	line-height:63px;
}
.main-container h2{
	font-family:arial;
	font-size: 40px;
	color:#303030;
	line-height:50px;
	text-align:center;
}

/*signup.php*/
.signup-form{
	width:400px;
	padding-top:30px;
	margin-right:auto;
	margin-left:auto;
}
.signup-form input{
	width:100%;
	height:40px;
	padding:0px 5%;
	margin-bottom:4px;
	border: none;
	background-color:#fff;
	font-family:arial;
	color:#111;
	font-size: 16px;
	line-height: 40px;
}
.signup-form input:focus{
	width:100%;
	height:40px;
	padding:0px 5%;
	margin-bottom:4px;
	border: 2px solid #57bea4;
	background-color:#fff;
	font-family:arial;
	color:#111;
	font-size: 16px;
	line-height: 40px;
}
.signup-form button{
	border-radius:5px;
	display:block;
	margin: 0 auto;
	color:#fff;
	width:30%;
	height:40px;
	border: none;
	background-color:#57bea4;
	font-family:arial;
	font-size: 16px;
	cursor:pointer;
}
.signup-form button:hover{
	background-color:#303030;
}
.wic {
	display: flex;
	width: 100%;
	align-items: center;
    justify-content: center;
}

/*@media screen and (max-width: 700px) {
	.nav-login {
		display: flex;
		width: 100%;
		align-items: center;
   		justify-content: center;	
	}
}

@media screen and (max-width: 400px) {
	.signup-form {
		width: 80%;
		height: 80%;
	}
	
	span {
		display: block;
		right: auto;
		left: auto;
		padding: 20px;
	}
	
	.nav-login form span button {
		width: 140px;
	}
	
	.nav-login {
		margin-top: -15%;
		padding: 20px;
		display: flex;
		align-items: center;
    	justify-content: center;
	}
	
	.nav-login form {
		flex-direction: column;
	}
	.nav-login button {
		left: 50%;
		top: 70%;
		-webkit-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
	}
	
	*/
@media screen and (max-width: 400px) {
	.signup-form {
		width: 80%;
		height: 80%;
	}
	.signup-form button{
		width: 80%;
		font-size: 20px;
	}
}

.eingabe{
	height:20px;
	border-radius:5px;
	font-size: 16px;
	border: none;
	background-color:#fff;
	font-family:arial;
	color:#303030;
}
.eingabe:focus{
	border: 2px solid #57bea4;
}
.subm{
	font-size: 20px;
	margin-top:1px;
	border:none;
	cursor:pointer;
	display:block;
	background-color:#eeeeee;
	color:#303030;
	border-radius:7px;
	height:auto;
}
.subm:hover{
	background-color:#57bea4;
	color:#eeeeee;
}

.acc{
	font-size: 20px;
	margin-top:1px;
	border:none;
	cursor:pointer;
	display:block;
	background-color:#eeeeee;
	color:#303030;
	border-radius:7px;
	height:auto;
}
.acc:hover{
	background-color:#57bea4;
	color:#eeeeee;
}
.acc:focus{
	background-color:#57bea4;
	color:#eeeeee;
}