html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h3 {
    font-family: 'Varela Round', sans-serif;
}

.contrast {
    filter: contrast(140%);
}

.sexyvideo {
    width: 80%;
    height: 100px;
    background-color: #000000;
    margin-left: 10%;
    margin-right: 10%;
}

.cont {
    width: 100%;
}

.wic {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%
}

.headline {
    font-family: 'Varela Round', sans-serif;
    font-size: 200%;
    margin-bottom: 20px;
    display: flex;
}

.anc {
    width: 50px;
    height: 3px;
    border: 2px solid;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: 0.3s;
}

.cont:hover .anc {
    width: 100px;
}

.abteTages {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #dedede;
    border-radius: 7px;
    border: 2px solid #575757;
    padding: 10px;
    text-align: center;
    color: #575757;
}

.abteTages:hover {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #575757;
    border-radius: 7px;
    border: 2px solid #dedede;
    padding: 10px;
    text-align: center;
    color: #dedede;
    cursor: pointer;
}

.abte {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #575757;
    border-radius: 7px;
    border: 2px solid #dedede;
    padding: 10px;
    text-align: center;
    color: #dedede;
}

.abte:hover {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #dedede;
    border-radius: 7px;
    border: 2px solid #575757;
    padding: 10px;
    text-align: center;
    color: #575757;
    cursor: pointer;
}

.contrast {
    filter: contrast(160%);
}

.contrast {
    filter: contrast(140%);
}


.videoDiv {
    background: #575757;
    color: #dedede;
    margin-top: 66px;
    padding-top: 30px;
    padding-bottom: 80px;
}

.video {
    background-color: black;
    width: 100%;
    height: auto;
}

.info {
    padding-top: 30px;
    padding-bottom: 80px;
    background-color: #dadada;
}

.abt {
    margin-left: 15%;
    margin-right: 15%;
}

.fuss {
    width: 100%;
	margin:0;
	padding: 0;
	overflow-x: hidden;
    background-color: #464646;
    color: white
}

